/* 
    Header-search -> static
*/

.header-search {

    width: 20%;

    display: flex;
    align-items: center;

    transition: all .3s;


    &_input {
        width: 100%;

        font-size: 15px;

        padding: 7px;

        outline: none;
        border: none {
            bottom: 1px solid white;
        }

        transition: all 1s;

        background-color: black;
        color: white;
    }

    &_btn {
        cursor: pointer;

        padding: 5.5px 9px;

        text-align: center;

        background-color: black;
        color: white;

        border: none {
            top-left-radius: 10px;
            bottom-left-radius: 10px;
        }

        transition: all .3s;

        .bi { }

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

/* 
    Header-search -> active
*/

.active { width: 40%; }
