/*
    Sizes:
*/

$default_app_container: 1040px;

$font_size_xs: 14px;
$font_size_m: 16px;
$font_size_l: 19px;

/* 
    Colors:
*/

$main_blue: rgb(025, 202, 255);
$main_red: rgb(255, 025, 090);
$main_green: rgb(007, 239, 131);

$white: #ffff;
$black: #000;

/*
    Query:
*/

$pc_size: 900px;
$table_size: 768px;
$mobile_size: 567px;

/*
    Other
*/

/*
    Margin
*/

$mg_5: 5px;
$mg_10: 10px;
$mg_20: 20px;
$mg_30: 30px;
$mg_60: 60px;

/*
    Padding
*/

$pd_5: 5px;
$pd_10: 10px;
$pd_20: 20px;
$pd_30: 30px;
$pd_60: 60px;


/*
    Mixins:
*/

@mixin box-size($height, $width) {
    width: $width;
    height: $height;
}

@mixin relative-box($left, $top, $right, $bottom) {
    position: relative;

    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    
}

@mixin absolute-box($left, $top, $right, $bottom) {
    position: absolute;

    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    
}

@mixin flex-default {
    display: flex;
    align-items: center;
}
@mixin flex-vertical {
    display: flex;
    flex-direction: column;
}

@mixin btn-input {

    background: none;
    border: none;

    outline: none;
}

@mixin default-btn($width, $height) {

    @include btn-input;

    cursor: pointer;

    padding: $height $width;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $font_size_m;

    background-color: $black;
    color: $white;

    transition: all .2s ease;

    &:hover { color: $main_red; }
}

@mixin box-shadow-default {
    -webkit-box-shadow: 0px 0px 19px 0px rgba(31, 79, 116, 0.2);
    -moz-box-shadow: 0px 0px 19px 0px rgba(31, 79, 116, 0.2);
    box-shadow: 0px 0px 19px 0px rgba(31, 79, 116, 0.25);
}