/*
    Header
*/

.header {
    display: flex;
    justify-content: center;

    padding: 10px;
    padding-bottom: 0px;

    background-color: black;
    color: white;

    .up-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            font-size: 20px;
            font-weight: 500;

            text-transform: uppercase;
        }

        .header-controls {
            display: flex;
            align-items: center;
            gap: 10px;

            .bi { cursor: pointer; }
        }
    }

    .bottom-header {
        height: 40px;
        margin-top: 15px;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 10px;

        .header-category_btn {
            height: inherit;
            display: flex;
            flex-direction: column;
            gap: 5px;

            cursor: pointer;

            font-size: 16px;
            text-transform: uppercase;

            background-color: black;
            color: white;
            
            transition: all .2;

            &:hover { 
                &::after {
                    content: '';

                    height: 2px;
                    width: 100%;

                    background-color: white;

                    transition: all .2s;
                }
            }
        }
    }
}