/*
    ERROR-SCREEN
    component: @views/errors/app-error.vue
*/

.app__error-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 75vh;

    .app__error {
        @include flex-vertical;
    
        &-title {
            text-align: center;
            font-size: $font-size_l;
        }
        &-status {
            text-align: center;
            font-size: 60px;
        }
        &-text {
            text-align: center;
    
            p { margin-bottom: $sp_10; }
            &-btn {
                @include box-size(100%, 100%);
                padding: $sp_10;
    
                color: $white;
                background-color: $black;
    
                a { transition: $transition; }
                a:hover {
                    color: $main_red;
                }
            }
        }
    }
}