/*
    HOME PAGE STYLES
*/

.home-page {
    width: $default_app_container;

    margin: 0 auto $mg_20;

    &_main-slider {

        @include box-size(auto, 100%);
        @include flex-default;
        @include box-shadow-default;

        margin: $mg_20 0 $mg_20 0;

    }

    &_main-part {
        display: flex;
        justify-content: space-between;

        &-content {
            @include box-size(100%, 75%);
        }

    }
}
