/* 
    Import Font 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* 
    Global Settings 
*/

* {
    font-family: 'Roboto';
    
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/*
    App block container
*/

.container { width: 70%; }